/* 
  Este es el archivo de estilos de mi página
  ESPECIFICIDAD: Qué tan específico es nuestro SELECTOR
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,800&display=swap');

body {
  backgroud-color:#fafafa;
}

.page-title {
  font-family:"Montserrat", sans-serif;
  font-weight: 400;
  color: #444;
  text-align: center;
  font-size:3em;
  margin:1em 0 1.6em; 
}

.post-article  {
  width: 600px;
  margin: 2em auto;
  border: 1px solid #eee;
  padding:1.8em 2em;
  box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.1)  
}

.post-article .article-title {
  font-size: 2.2em;
}

.post-article .article-paragraph {
  font-family: sans-serif;
  font-size: 1.2em;
  line-height: 1.8em;
  color: grey;
  margin-bottom: 2.6em;
}

.comments-count, .time, .author {
  font-family: sans-serif;
  color: grey;
  margin-right: 1em;
  font-weight: 600;
}

.post-article .img-content {
  display:block;
  width:100%;
}
